<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.se.softengineer.mapper.UsersDataMapper">

    <update id="createTable" parameterType="String">
        CREATE TABLE ${tableName} (
                                      `id` int NOT NULL AUTO_INCREMENT,
                                      `dataTableName` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
                                      `indexSymDTName` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
                                      `time` varchar(20) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
                                      PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
    </update>

    <update id="deleteTable" parameterType="String">
        DROP TABLE IF EXISTS ${table_name}
    </update>

    <update id="renameTable" parameterType="String">
        ALTER TABLE ${origin_name} RENAME TO ${new_name}
    </update>

    <update id="delIndex" parameterType="String">
        DELETE FROM ${table_name} WHERE indexSymDTName = "${indexName}"
    </update>

    <select id="getIndexSymTableNames" resultType="string">
        SELECT indexSymDTName
        FROM ${tableName}
    </select>

    <select id="getDataTableNames" resultType="string">
        SELECT indexSymDTName
        FROM ${tableName}
    </select>

    <select id="getISDTNamePage" resultType="com.se.softengineer.entity.UsersData">
        SELECT *
        FROM ${tableName} ${ew.customSqlSegment}
    </select>

    <select id="getDataList" resultType="com.se.softengineer.entity.UsersData">
        SELECT * FROM ${tableName}
    </select>

</mapper>